:root {
    --main-sakura: #ffb7c5;
    --main-blue: #48929B;
    --main-white: #FFFAFA;
    --main-beige: #FFE9CA;
    --main-purple: #5B3256;
    --main-orange: #FBB95D;
    --main-green: #407A52;
    --main-gray: #4B3C39;
  }
  * {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  
  html {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  @media (max-width: 75em) {
    html {
      font-size: 60%
    }
  }
  
  @media (max-width: 61.25em) {
    html {
      font-size: 58%
    }
  }
  
  @media (max-width: 28.75em) {
    html {
      font-size: 55%
    }
  }
  
  /* Base styles */
  
  body {
    background-color: var(--main-gray);
    color: var(--main-white);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
  }
  
  h1,
  h2 {
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--main-white);
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  /* nav style */
  
  .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background: var(--main-purple);
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0,0,0,0.4);
    z-index: 10;
  }
  
  .nav-list {
    display: flex;
    margin-right: 2em;
  }
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    display: block;
    font-size: 2rem;
    padding: 0.5rem 2rem;
  }
  
  .nav-list a:hover {
    background: var(--main-blue);
  }
  
  /* Welcome section */
  
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--main-gray);
  }
  
  .welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-blue);
  }
  
  /* Projects section */
  
  .projects-section {
    text-align: center;
  }
  
  .project-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex-basis: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .project-preview {
    flex-grow: 2;
    width: 50%;
    max-width: 50%;
    float: left;
    padding: 1rem 0rem 1rem 0rem;
  }
  
  .project-image {
    max-width: 200rem;
    height: auto;
  }
  
  .project-link {
    position: relative;
    font-size: 2rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .project-link:hover {
    text-decoration: underline;
    transition-duration: 1s;
  }
  
  /* Contacts section */
  
  .contacts-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
    background-color: var(--main-gray);
  }
  
  .contacts-header > h2 {
    font-size: 6rem;
  }
  
  @media (max-width: 28.75em) {
    .contacts-header {
      font-size: 4rem;
    }
  }
  
  .contacts-header > p {
    font-style: italic;
    font-size: 1.5rem;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  
  .contact-button {
    font-size: 2.4rem;
    padding: 2rem;
    text-shadow: 2px 2px 1px #1f1f1f;
  }
  
  .contact-button:hover {
    transform: translateY(-10px);
    transition-duration: 1s;
  }
  
  /* Footer section */
  footer {
    background-color: var(--main-purple);
    font-size: 1.25rem;
    text-align: right;
    border-top: 1px solid black;
  }
  